In [1]:
import pandas as pd

In [9]:
url = 'https://en.wikipedia.org/wiki/Municipalities_of_San_Luis_Potos%C3%AD'

In [10]:
# Si la página solo tiene una tabla
data = pd.read_html(url)[0]
data

               Name            Municipal seat Population (2020)[1]  \
               Name            Municipal seat Population (2020)[1]
0         Ahualulco                 Ahualulco                18974
1         Alaquines                 Alaquines                 7785
2          Aquismón                  Aquismón                48359
3         Armadillo  Armadillo de los Infante                 4013
4          Axtla[a]         Axtla de Terrazas                32544
..              ...                       ...                  ...
56  Villa Juárez[q]              Villa Juárez                10304
57          Xilitla                   Xilitla                49741
58         Zaragoza         Villa de Zaragoza                27386
59  San Luis Potosí                         —              2822255
60           Mexico                         —            126014024

   Population (2010)[9]  Change Land area[2]           \
   Population (2010)[9]  Change          km2    sq mi
0                 18644   +1.8%        775.4    299.4
1                  8186   −4.9%        586.2    226.3
2                 47423   +2.0%        794.2    306.6
3                  4436   −9.5%        623.4    240.7
4                 33245   −2.1%        191.2     73.8
..                  ...     ...          ...      ...
56                10174   +1.3%        640.1    247.1
57                51498   −3.4%        398.6    153.9
58                24596  +11.3%        614.2    237.1
59              2585518   +9.2%      61138.0  23605.5
60            112336538  +12.2%    1960646.7   757010

   Population density (2020) Incorporation date[5]
   Population density (2020) Incorporation date[5]
0      24.5/km2 (63.4/sq mi)      October 29, 1823
1      13.3/km2 (34.4/sq mi)         July 19, 1826
2     60.9/km2 (157.7/sq mi)         July 19, 1826
3       6.4/km2 (16.7/sq mi)         July 19, 1826
4    170.2/km2 (440.8/sq mi)         July 19, 1826
..                       ...                   ...
56     16.1/km2 (41.7/sq mi)    September 26, 1829
57   124.8/km2 (323.2/sq mi)         July 19, 1826
58    44.6/km2 (115.5/sq mi)      November 3, 1882
59    46.2/km2 (119.6/sq mi)                     —
60    64.3/km2 (166.5/sq mi)                     —

[61 rows x 9 columns]

In [12]:
url2 = 'https://en.wikipedia.org/wiki/List_of_banks_in_India'

In [14]:
# Podemos acceder a las diferentes tablas en una página web de acuerdo al indice
data = pd.read_html(url2)[2]
data

,State,Bank name,Established,Headquarters,Branches,Sponsor bank,Refs
0,Andhra Pradesh,Andhra Pradesh Grameena Vikas Bank,2006,"Warangal, Telangana",278,State Bank of India,NaN
1,Andhra Pradesh,Andhra Pragathi Grameena Bank,2006,"Kadapa, Andhra Pradesh",551,Canara Bank,NaN
2,Andhra Pradesh,Chaitanya Godavari Grameena Bank[51],2006,"Guntur, Andhra Pradesh",275,Union Bank of India,NaN
3,Andhra Pradesh,Saptagiri Grameena Bank[52],2006,"Chittoor, Andhra Pradesh",246,Indian Bank,NaN
4,Arunachal Pradesh,Arunachal Pradesh Rural Bank[53],1983,"Itanagar, Arunachal Pradesh",30,State Bank of India,NaN
5,Assam,Assam Gramin Vikash Bank,2006,"Guwahati, Assam",472,Punjab National Bank,NaN
6,Bihar,Dakshin Bihar Gramin Bank,2019,"Patna, India",1091,Punjab National Bank,NaN
7,Bihar,Uttar Bihar Gramin Bank,2008,"Muzaffarpur, India",1026,Central Bank of India,[54]
8,Chhattisgarh,Chhattisgarh Rajya Gramin Bank[55],2013,"Raipur, Chhattisgarh",614,State Bank of India,[56]
9,Gujarat,Baroda Gujarat Gramin Bank,2019,"Vadodara, Gujarat",488,Bank of Baroda,[57]
10,Gujarat,Saurashtra Gramin Bank[58],1978,"Rajkot, Gujarat",260,State Bank of India,[59]
11,Haryana,Sarva Haryana Gramin Bank[60],2013,"Rohtak, Haryana",542,Punjab National Bank,NaN
12,Himachal Pradesh,Himachal Pradesh Gramin Bank,2013,"Mandi, Himachal Pradesh",265,Punjab National Bank,[61]
13,Jammu And Kashmir,Ellaquai Dehati Bank,1979,"Srinagar, Jammu and Kashmir",116,State Bank of India,NaN
14,Jammu And Kashmir,Jammu And Kashmir Grameen Bank,2009,"Jammu, Jammu and Kashmir",217,Jammu & Kashmir Bank,NaN
15,Jharkhand,Jharkhand Rajya Gramin Bank,2019,"Ranchi, Jharkhand",443,State Bank Of India,NaN
16,Karnataka,Karnataka Gramin Bank,2019,"Ballari, Karnataka",1142,Canara Bank,NaN
17,Karnataka,Karnataka Vikas Grameena Bank,2005,"Dharwad, Karnataka",633,Canara Bank,NaN
18,Kerala,Kerala Gramin Bank,2013,"Malappuram, Kerala",634,Canara Bank,[62]
19,Madhya Pradesh,Madhya Pradesh Gramin Bank,2019,"Indore, Madhya Pradesh",866,Bank of India,NaN
20,Madhya Pradesh,Madhyanchal Gramin Bank,2012,"Sagar, Madhya Pradesh",454,State Bank of India,NaN
21,Maharashtra,Maharashtra Gramin Bank,2008,"Aurangabad, Maharashtra",391,Bank of Maharashtra,NaN
22,Maharashtra,Vidarbha Konkan Gramin Bank[63],2013,"Nagpur, Maharashtra",318,Bank of India,NaN
23,Manipur,Manipur Rural Bank,1981,"Imphal, Manipur",28,Punjab National Bank,NaN
24,Meghalaya,Meghalaya Rural Bank,1981,"Shillong, Meghalaya",87,State Bank of India,[64]
25,Mizoram,Mizoram Rural Bank,1983,"Aizawl, Mizoram",85,State Bank of India,NaN
26,Nagaland,Nagaland Rural Bank,1983,"Kohima, Nagaland",10,State Bank of India,NaN
27,Odisha,Odisha Gramya Bank,2013,"Bhubaneswar, India",549,Indian Overseas Bank,NaN
28,Odisha,Utkal Grameen Bank,2012,"Bolangir, Odisha",442,State Bank of India,NaN
29,Puducherry,Puduvai Bharathiar Grama Bank,2008,"Pondicherry, Puducherry",43,Indian Bank,NaN
30,Punjab,Punjab Gramin Bank,2019,"Kapurthala, Punjab",419,Punjab National Bank,NaN
31,Rajasthan,Rajasthan Marudhara Gramin Bank,2014,"Jodhpur, Rajasthan",715,State Bank of India,NaN
32,Rajasthan,Baroda Rajasthan Kshetriya Gramin Bank,2013,"Ajmer, Rajasthan",833,Bank of Baroda,[65]
33,Tamil Nadu,Tamil Nadu Grama Bank,2019,"Salem, Tamil Nadu",630,Indian Bank,NaN
34,Telangana,Telangana Grameena Bank,2014,"Hyderabad, Telangana",927,State Bank of India,[66]
35,Tripura,Tripura Gramin Bank,1976,"Agartala, India",142,Punjab National Bank,NaN
36,Uttar Pradesh,Aryavart Bank,2019,NaN,1365,Bank of India,NaN
37,Uttar Pradesh,Baroda UP Bank,2020,"Ayodhya, Uttar Pradesh",2050,Bank of Baroda,NaN
38,Uttar Pradesh,Prathama UP Gramin Bank,2019,"Moradabad, Uttar Pradesh",938,Punjab National Bank,NaN
39,Uttarakhand,Uttarakhand Gramin Bank,2012,"Dehradun, Uttarakhand",286,State Bank of India,[67]
40,West Bengal,Bangiya Gramin Vikash Bank,2007,"Berhampore, West Bengal",587,Punjab National Bank,NaN
41,West Bengal,Paschim Banga Gramin Bank,2007,"Howrah, West Bengal",230,UCO Bank,NaN
42,West Bengal,Uttarbanga Kshetriya Gramin Bank,1977,"Coochbehar, West Bengal",143,Central Bank of India,NaN

In [18]:
data = pd.read_html(url2)[1]
data

,Bank name,Established,Headquarters,Branches,Total assets,Revenues,Refs
0,Axis Bank,1993,"Mumbai, Maharashtra",5706,"₹1,518,239 crore (US$170 billion)","₹137,989 crore (US$16 billion)",[24]
1,Bandhan Bank,2015,"Kolkata, West Bengal",1703,"₹305,400 crore (US$35 billion)","₹21,656 crore (US$2.5 billion)",[25]
2,CSB Bank,1920,"Thrissur, Kerala",802,"₹23,337 crore (US$2.7 billion)","₹3,450 crore (US$390 million)",[26]
3,City Union Bank,1904,"Kumbakonam, Tamil Nadu",815,"₹53,311 crore (US$6.1 billion)","₹4,839 crore (US$550 million)",[27][28]
4,DCB Bank,1930,"Mumbai, Maharashtra",451,"₹39,602 crore (US$4.5 billion)","₹3,916 crore (US$450 million)",[29]
5,Dhanlaxmi Bank,1927,"Thrissur, Kerala",261,"₹13,096 crore (US$1.5 billion)","₹1,072 crore (US$120 million)",[30]
6,Federal Bank,1931,"Kochi, Kerala",1533,"₹308,311.80 crore (US$35 billion)","₹25,267 crore (US$2.9 billion)",[31]
7,HDFC Bank,1994,"Mumbai, Maharashtra",9092,"₹4,030,194 crore (US$460 billion)","₹205,000 crore (US$23 billion)",[32][33]
8,ICICI Bank,1994,"Mumbai, Maharashtra",6613,"₹2,364,063 crore (US$270 billion)","₹186,178.50 crore (US$21 billion)",[34][35][36]
9,IDBI Bank,1964,"Mumbai, Maharashtra",2116,"₹298,652 crore (US$34 billion)","₹24,803 crore (US$2.8 billion)",[37][38]
10,IDFC First Bank,2015,"Mumbai, Maharashtra",961,"₹296,210 crore (US$34 billion)","₹36,257 crore (US$4.1 billion)",[39]
11,IndusInd Bank,1994,"Mumbai, Maharashtra",3040,"₹515,094 crore (US$59 billion)","₹28,999 crore (US$3.3 billion)",[40]
12,Jammu & Kashmir Bank,1938,"Srinagar, Jammu and Kashmir",1008,"₹82,018 crore (US$9.4 billion)","₹7,166 crore (US$820 million)",[41]
13,Karnataka Bank,1924,"Mangaluru, Karnataka",931,"₹85,580 crore (US$9.8 billion)","₹6,232 crore (US$710 million)",[42]
14,Karur Vysya Bank,1916,"Karur, Tamil Nadu",841,"₹74,623 crore (US$8.5 billion)","₹5,470 crore (US$630 million)",[43]
15,Kotak Mahindra Bank,2003,"Mumbai, Maharashtra",2013,"₹767,667 crore (US$88 billion)","₹94,274 crore (US$11 billion)",[44]
16,Nainital Bank,1922,"Nainital, Uttarakhand",171,"₹8,438 crore (US$970 million)",₹727 crore (US$83 million),[45]
17,RBL Bank,1943,"Mumbai, Maharashtra",550,"₹138,403 crore (US$16 billion)","₹8,561 crore (US$980 million)",[46]
18,South Indian Bank,1929,"Thrissur, Kerala",955,"₹94,149 crore (US$11 billion)","₹7,305 crore (US$840 million)",[47]
19,Tamilnad Mercantile Bank,1921,"Thoothukkudi, Tamil Nadu",567,"₹42,758 crore (US$4.9 billion)","₹3,992 crore (US$460 million)",[48]
20,Yes Bank,2004,"Mumbai, Maharashtra",1237,"₹405,492.99 crore (US$46 billion)","₹20,039 crore (US$2.3 billion)",[49][50]